.header {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 54px;
}

.logo {
    margin-left: 246.5px;
}

.menu-lista {
    display: flex;
    margin-right: 248px;
    align-items: center;
}

.menu-item {
    display: flex;
    list-style: none;
    margin: 0 15px;
    
}

.menu-link {
    margin: 0 5px;
    margin-top: 5px;
    color: #ffffff;
    text-decoration: none;
}
